doctype html 
html 
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    title Natours | Exciting tours for adventurous people

  body 
    // HEADER
    header.header
      nav.nav.nav--tours
        a.nev_el(href='#') All tours
      .header__logo 
        img(src='img/logo-white.png' alt='Natours logo')
      nav.nav.nav--user
        //- a.nev_el(href='#') My bookings
        //- a.nev_el(href='#') My bookings
        //-   img.nav__user-img(src('img.user.jpg' alt='User photo'))
        //-   span Szymon
        button.nav__el Log in
        button.nav__el.nav__el--cta Sign up

    // CONTENT
    section.overview 
      h1= tour

    // FOOTER
    footer.footer 
      .footer__logo 
        img(src='img/logo-green.png' alt='Natours logo')
      ul.footer__nav  
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Becone a guide
        li: a(href='#') Carrers
        li: a(href='#') Contact 
      p.footer__copyright &copy; by Jonas Schmedtmann. Feel free to use this project for your own purposes, Except producing your own courses or tutorials! 



